@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

html {
  box-sizing: border-box;
  background: #fff}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

.app {
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  font-size: large;
}

.app__enterProduct {
  margin: 8px 0px 8px 8px;
}

.app__enterProduct--input {
  background: navajowhite;
  height: 60px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  font-size: large;
}

.app__firstSection {
  display: grid;
  grid-template-columns: 70% 20% 10%;
}

.app__newList {
  background: violet;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin: 8px 8px 8px 0px;
  min-width: 50px;
  min-height: 50px;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}

.app__submitProduct {
  background: #3eeb5b url("./images/plus.svg") center no-repeat;
  background-size: 40px 40px;
  border: none;
  border-radius: 10px;
  margin: 8px;
  min-width: 50px;
  min-height: 50px;
}

.productListContainter__list {
  padding: 0;
  margin-top: 0;
}

.productListContainter__list--element {
  background: mistyrose;
  margin: 0px 8px 8px 8px;
  padding: 10px 10px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  color: black;
}

.productListContainter__list--element-deleteButton {
  background: rgba(220, 20, 60, 0) url("./images/cross.svg") center no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  border: none;
}

@media (max-width: 580px) {
  .app__firstSection {
    display: grid;
    grid-template-columns: 50% 30% 20%;
  }
  .app__enterProduct--input {
    font-size: medium;
  }
}
